[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-smartinput"]
	path = bundle/vim-smartinput
	url = git://github.com/kana/vim-smartinput.git
